<html>
    <head>
        <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"> -->

        <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> -->
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
           
           
           <style>
body {
    background-color: #ac467e;
}
              table {
                    width: 50%;
                    border-collapse: collapse;
                    margin-left: 10%;
                    margin-bottom: 10%;
                }
                th, td {
                    padding: 8px;
                    text-align: center;
                    border: 5px solid #ee0505;
                    white-space: nowrap; /* to prevent text wrapping */
                }
                .responsive-table {
                    overflow-x: auto;
                }
                caption {
        caption-side:top;
        text-align: center;
        text-decoration: underline;
        font-weight: bold;
        font-size: 26px;
        color: darkgreen;
    }
    tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}

.column {
  float: left;
  width: 30%;
  padding: 15 10px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {margin: 10 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}
.card-text{
    text-align: center;
    font-size: 30px;
}
/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}



       </style>
    </head>
<body>

    
    <div class="row">
        <div class="column">
              <div class="card  text-white bg-danger mb-3">
              <h5 class="card-title">WAITING PATIENTS</h5> 
              <p class="card-text"> <%=counts %></p>
              </div>
        </div>

        <div class="column">
            <div class="card text-white bg-primary mb-3">
            <h5 class="card-title">ATTENDED PATIENT</h5>
            <p class="card-text"><%=attendcounts %></p>
             </div>
       </div>

        <div class="column">
                <div class="card  text-white bg-success mb-3">
                    <h5 class="card-title">TOTAL PATIENTS</h5>
                    <p class="card-text"><%=allcounts %></p>
                </div>
       </div>

      </div> 

    <div class="responsive-table">
           
        <table>
            <caption>Table 1.0 - patients Details</caption>
            <thead>
                <tr>
                
                    <th>F.name</th>
                    <th>L.name</th>
                    <th>EntryNo</th>
                    <th>Gender</th>
                    <th>Disease</th>
                    <th>Arrival time</th>
                    <th>status</th>
                    <th>Request Patient</th>
                    <th>Release Patient</th>
                    
                    
                </tr>
            </thead>
            <% data.forEach(function(item){ %>
            <tbody>
                <tr>
                
                    <td><%=item.firstname%></td>
                    <td><%=item.secondname%></td>
                    <td><%=item.EnteryNo%></td>
                    <td><%=item.gender%></td>
                    <td><%=item.subject%></td>
                    <td><%-item.ArrivalTime%></td>
                    <td><%=item.status%></td>
                
                    <!-- <td> <a href="javascript:void(0)",data-item-id='<%=item._id%>' class="editlink"  onclick='return confirm("You are going to delete this record. Continue?")' >edit</a> </td>  -->

                    <!-- <td> <a href="/users/message", onclick='return confirm("You are going to delete this record. Continue?")' >edit</a> </td>   -->

                     <td> <a href="/users/message?id=<%=item._id%>", onclick='return confirm("Do you wish to attend this patient. Continue?")' >Request Patient</a> </td>
                     <td> <a href="/users/finish?id=<%=item._id%>", onclick='return confirm("Do you wish to release this patient?. Continue?")' >Release Patient</a> </td>


                    <!-- a(href='/delete?id=#{item["_id"]}', onclick='return confirm("You are going to delete this record. Continue?")') Delete -->

        
                   
                </tr>
            </tbody>
            <%})%>
        </table>
    </div>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script> -->
</body>
</html>






